{% extends "base.html" %}

{% block title %}
Menú | SIGPET
{% endblock %}

{% block content %}

<div class="card hero-card">

    <i class="fa-solid fa-utensils fa-4x"
       style="color: var(--color-primario); margin-bottom:25px;">
    </i>

    <h1>Nuestro Menú</h1>

    <p style="margin-bottom:35px;">
        Selecciona tu platillo favorito y continúa con tu pedido.
    </p>

    <div class="menu-item">

        <span>
            <i class="fa-solid fa-pepper-hot"></i>
            Tacos
        </span>

        <strong>$25</strong>

    </div>

    <div class="menu-item">

        <span>
            <i class="fa-solid fa-burger"></i>
            Hamburguesa
        </span>

        <strong>$95</strong>

    </div>

    <div class="menu-item">

        <span>
            <i class="fa-solid fa-hotdog"></i>
            Hot Dog
        </span>

        <strong>$35</strong>

    </div>

    <div class="menu-item">

        <span>
            <i class="fa-solid fa-glass-water"></i>
            Refresco
        </span>

        <strong>$20</strong>

    </div>

    <br><br>

    <a href="/pedido" class="btn btn-grande">

        <i class="fa-solid fa-cart-shopping"></i>

        Realizar Pedido

    </a>

</div>

{% endblock %}